@media screen and (max-width: 800px) {
    .hero.parallax {
        /* Set a specific height */
        height: 200px;
    }
}

@media screen and (min-width: 800px) {
    .hero.parallax {
        /* Set a specific height */
        height: 500px;
    }
}

.hero.parallax {
    /* The image used */
    /*background-image: url("../img/plan-eau.jpg");*/

    /* Create the parallax scrolling effect */
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    top: 120px;
}

.hero .title {
    color: #ae0202;
}

.navbar-item.is-active {
    text-decoration: underline;
    font-weight: bold;
}