<!-- Error Template -->
<section class="hero parallax" style="background-image: url(../img/error.jpg)">
    <div class="hero-body"/>
</section>

<section class="section">
    <div class="container">
        <section class="articles">
            <div class="column is-8 is-offset-2">

                <h1 class="title">
                    Oups !
                </h1>

                <div class="content">
                    <div class="error fade-in">
                        <h1>404</h1>
                        <p class="error-text">
                            Désolé, la page que vous tentez d'atteindre n'existe pas...
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

